<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Délestages EDM 2014</title>
<link href="static/css/bootstrap.min.css" rel="stylesheet">
<link href="static/css/bootstrap-responsive.min.css" rel="stylesheet">
</head>
<body>
    <h1>Programmes de délestages de l'EDM</h1>
    <p>Retrouvez chaque semaine le programme des coupures planifiées par quartier.</p>
    <ul>
        <li><a href="Programme de coupure 2014 EDM 08042014.pdf">BAMAKO - 8 avril au 13 avril 2014</a></li>
    </ul>
</body>
</html>