
<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Hotline - SOS Démocratie</title>
<link href="static/css/bootstrap.min.css" rel="stylesheet">
<link href="static/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="static/css/hotline.css" rel="stylesheet">
<link href="static/css/flot.css" rel="stylesheet">
</head>
<body class="">
<div class="container">

<div class="row-fluid">
<div class="span8">
<h1>Hotline SOS Démocratie</h1>
</div>
<div class="span4" style="text-align:right;">
<h2 style="color:orange;">91 16 16 76</h2>
<h2 style="color:blue;">67 56 52 52</h2>
</div>
</div>


<div class="alert alert-info">
<p>Cette page présente les données de la <strong>Hotline SOS Démocratie</strong> à un instant <em>t</em>.</p>
<p>Elle devrait être mise à jour quotidiennement (vers 17h) pendant toute la durée du projet.</p>
<p>Les données brutes complète sont disponible sur <a href="http://opendata.ml">Open Data Mali</a>.</p>
</div>


<table class="table table-condensed table-hover table-bordered table-striped table-info">
    <tbody>
        <tr>
            <th class="span8">Dernier appel</th>
            <td class="span4">Dec. 18, 2013, 4:19 p.m.</td>
        </tr>
        <tr>
            <th>Nombre d'appels non traités</th>
            <td>7</td>
        </tr>
        <tr>
            <th>Nombre de rappels à saisir</th>
            <td>1</td>
        </tr>
        <tr>
            <th>Nombre total d'appels</th>
            <td class="total">2675</td>
        </tr>
        
        
        <tr>
            <th class="ident">Total Orange</th>
            <td>2413</td>
        </tr>
        
        <tr>
            <th class="ident">Total Malitel</th>
            <td>262</td>
        </tr>
        
        <tr>
            <th class="ident">Peux-tu me rappeler?</th>
            <td>1080</td>
        </tr>
        <tr>
            <th class="ident">Peux-tu recharger mon compte?</th>
            <td>0</td>
        </tr>
        <tr>
            <th class="ident">Bip.</th>
            <td>1377</td>
        </tr>
        <tr>
            <th class="ident">SMS à déterminer.</th>
            <td>0</td>
        </tr>
        <tr>
            <th class="ident">SMS (Hotline).</th>
            <td>210</td>
        </tr>
        <tr>
            <th class="ident">SMS (Ushahidi).</th>
            <td>1</td>
        </tr>
        <tr>
            <th class="ident">SMS (SPAM)</th>
            <td>7</td>
        </tr>
        <tr>
            <th>Nombre total de numéros uniques</th>
            <td class="total">2218</td>
        </tr>
        <tr>
            <th>Total par sexes (Homme/Femme/Inconnu)</th>
            <td>1421 H, 910 F, 344 Inconnus</td>
        </tr>
    </tbody>
    </table>




<h2>Répartition des rappels par région</h2>
    <table class="table table-condensed table-hover table-bordered table-striped table-info">
    <thead>
    <tr>
    <th class="span2">Région</th>
    <th class="span2">Taux (nombre)</th>
    </tr>
    </thead>
    <tbody>
    
        <tr><td>KAYES</td>
            <td><strong>5.44% (145)</strong></td>
        </tr>
    
        <tr><td>KOULIKORO</td>
            <td><strong>8.70% (232)</strong></td>
        </tr>
    
        <tr><td>SIKASSO</td>
            <td><strong>5.25% (140)</strong></td>
        </tr>
    
        <tr><td>SÉGOU</td>
            <td><strong>7.35% (196)</strong></td>
        </tr>
    
        <tr><td>MOPTI</td>
            <td><strong>6.45% (172)</strong></td>
        </tr>
    
        <tr><td>TOMBOUCTOU</td>
            <td><strong>3.86% (103)</strong></td>
        </tr>
    
        <tr><td>GAO</td>
            <td><strong>2.02% (54)</strong></td>
        </tr>
    
        <tr><td>KIDAL</td>
            <td><strong>0.60% (16)</strong></td>
        </tr>
    
        <tr><td>BAMAKO</td>
            <td><strong>46.57% (1242)</strong></td>
        </tr>
    
        <tr><td>HORS DU MALI</td>
            <td><strong>0.75% (20)</strong></td>
        </tr>
    
        <tr><td>Inconnue</td>
            <td><strong>13.01% (347)</strong></td>
        </tr>
    
    </tbody>
    </table>





<h2>Répartition des rappels par tranche d'âge</h2>
    <table class="table table-condensed table-hover table-bordered table-striped table-info">
    <thead>
    <tr>
    <th class="span2">Tranche d'âge</th>
    <th class="span2">Taux (nombre)</th>
    </tr>
    </thead>
    <tbody>
    <tr><td>moins de 18</td>
        <td><strong>16.31% (435)</strong></td>
    </tr>
    <tr><td>de 19 à 25</td>
        <td><strong>37.05% (988)</strong></td>
    </tr>
    <tr><td>de 26 à 30</td>
        <td><strong>11.06% (295)</strong></td>
    </tr>
    <tr><td>de 31 à 35</td>
        <td><strong>10.16% (271)</strong></td>
    </tr>
    <tr><td>de 36 à 40</td>
        <td><strong>3.79% (101)</strong></td>
    </tr>
    <tr><td>de 41 à 45</td>
        <td><strong>3.34% (89)</strong></td>
    </tr>
    <tr><td>de 46 à 50</td>
        <td><strong>1.87% (50)</strong></td>
    </tr>
    <tr><td>de 51 à 55</td>
        <td><strong>1.57% (42)</strong></td>
    </tr>
    <tr><td>56 et plus</td>
        <td><strong>1.57% (42)</strong></td>
    </tr>
    <tr><td>Inconnus</td>
        <td><strong>13.24% (353)</strong></td>
    </tr>
    </tbody>
    </table>







<h2>Répartition des rappels par sujets</h2>
<p class="alert alert-info"><strong>Attention</strong>, certains appels concernent plusieurs catégories ; la somme des pourcentages individuels dépasse donc 100%.</p>
    <table class="table table-condensed table-hover table-bordered table-striped table-info">
    <thead>
    <tr>
    <th class="span2">Sujet</th>
    <th class="span2">Pourcentage du total (nombre)</th>
    </tr>
    </thead>
    <tbody>
    
        <tr><th>Décentralisation</th><th>2.44% (65)</th></tr>
        
            <tr><td>qu&#39;est ce que la décentralisation ?</td><td>1.57% (42)</td></tr>
        
            <tr><td>Avantages/inconvénients de la décentralisation</td><td>0.86% (23)</td></tr>
        
    
        <tr><th>Carte NINA</th><th>49.42% (1318)</th></tr>
        
            <tr><td>comment avoir la carte NINA ? (retrait)</td><td>20.40% (544)</td></tr>
        
            <tr><td>Procuration</td><td>2.17% (58)</td></tr>
        
            <tr><td>qu&#39;est ce que la carte NINA ?</td><td>1.95% (52)</td></tr>
        
            <tr><td>est-ce que j&#39;ai le droit de voter?</td><td>1.57% (42)</td></tr>
        
            <tr><td>quel rapport avec le ravec ?</td><td>0.79% (21)</td></tr>
        
            <tr><td>perte de carte Nina ; que faire?</td><td>3.45% (92)</td></tr>
        
            <tr><td>Erreur sur la carte nina</td><td>2.55% (68)</td></tr>
        
            <tr><td>N&#39;est pas sur la liste</td><td>3.60% (96)</td></tr>
        
            <tr><td>Transfert de bureau</td><td>6.37% (170)</td></tr>
        
            <tr><td>Comment faire le RAVEC actuellement ?</td><td>6.56% (175)</td></tr>
        
    
        <tr><th>Fraude / Corruption</th><th>4.24% (113)</th></tr>
        
            <tr><td>rôle et responsabilités des citoyens</td><td>1.27% (34)</td></tr>
        
            <tr><td>que faire en cas de fraude (témoin) ?</td><td>1.39% (37)</td></tr>
        
            <tr><td>comment le vote est supervisé ?</td><td>1.57% (42)</td></tr>
        
    
        <tr><th>Démocratie</th><th>6.52% (174)</th></tr>
        
            <tr><td>qu&#39;est ce que la démocratie: comment voit on qu&#39;elle est présente?</td><td>2.51% (67)</td></tr>
        
            <tr><td>avantage/inconvénients</td><td>1.91% (51)</td></tr>
        
            <tr><td>principes de la démocratie</td><td>1.42% (38)</td></tr>
        
            <tr><td>histoire et application au Mali</td><td>0.67% (18)</td></tr>
        
    
        <tr><th>Ushahidi</th><th>0.41% (11)</th></tr>
        
            <tr><td>Rapport d&#39;incident</td><td>0.41% (11)</td></tr>
        
    
        <tr><th>Autre</th><th>27.03% (721)</th></tr>
        
            <tr><td>Autre question</td><td>11.89% (317)</td></tr>
        
            <tr><td>Ne repond pas</td><td>12.00% (320)</td></tr>
        
            <tr><td>Déjà rappelé</td><td>3.15% (84)</td></tr>
        
    
        <tr><th>Hotline</th><th>23.02% (614)</th></tr>
        
            <tr><td>Pourquoi vous faites ça ? Qui êtes vous?</td><td>10.57% (282)</td></tr>
        
            <tr><td>rappel de remerciement</td><td>12.45% (332)</td></tr>
        
    
        <tr><th>Vote</th><th>17.96% (479)</th></tr>
        
            <tr><td>C&#39;est quoi le vote?</td><td>1.65% (44)</td></tr>
        
            <tr><td>Combien de bureaux de vote ? </td><td>1.01% (27)</td></tr>
        
            <tr><td>comment être sur que mon vote a été prit en compte?</td><td>0.67% (18)</td></tr>
        
            <tr><td>comment choisir en pratique pour qui voter (présentation du bulletin)</td><td>0.52% (14)</td></tr>
        
            <tr><td>Avec quoi votons nous ? (en général)</td><td>0.75% (20)</td></tr>
        
            <tr><td>Pourquoi voter?</td><td>0.67% (18)</td></tr>
        
            <tr><td>Pourquoi voter pour un candidat (en particulier) ?</td><td>0.41% (11)</td></tr>
        
            <tr><td>Quels sont les avantages d&#39;aller voter?</td><td>0.52% (14)</td></tr>
        
            <tr><td>Quels sont les inconvénients de ne pas aller voter?</td><td>0.49% (13)</td></tr>
        
            <tr><td>Qu&#39;est ce qu&#39;un bulletin nul?</td><td>0.64% (17)</td></tr>
        
            <tr><td>Comment voter en pratique (urne, encre, isoloir)</td><td>0.90% (24)</td></tr>
        
            <tr><td>Ou puis-je voter?</td><td>9.71% (259)</td></tr>
        
    
    </tbody>
    </table>


<h2>Graphe des événements</h2>
<div class="flot-container">
    <div id="placeholder" class="flot-placeholder"></div>
</div>

<div class="sponsors">
    <a href="http://opendata.ml"><img src="static/img/opendata.png" /></a>
    <a href="http://usaid.gov"><img src="static/img/usaid.png" /></a>
    <a href="http://sosdemocratiemali.org"><img src="static/img/sosdemo.jpg" /></a>
</div>


</div>

<script type="text/javascript" src="static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/jquery.flot.js"></script>
<script type="text/javascript" src="static/js/jquery.flot.time.js"></script>
<script type="text/javascript" src="static/js/jquery.flot.selection.js"></script>
<script type="text/javascript">
$(document).ready(function (){
    
    $.getJSON('graph_data.json', function(data) {

    var requests = data.requests;
    var responses = data.responses;

    // helper for returning the weekends in a period

    function weekendAreas(axes) {

        var markings = [],
            requests = new Date(axes.xaxis.min);

        // go to the first Saturday

        requests.setUTCDate(requests.getUTCDate() - ((requests.getUTCDay() + 1) % 7))
        requests.setUTCSeconds(0);
        requests.setUTCMinutes(0);
        requests.setUTCHours(0);

        var i = requests.getTime();

        // when we don't set yaxis, the rectangle automatically
        // extends to infinity upwards and downwards

        do {
            markings.push({ xaxis: { from: i, to: i + 2 * 24 * 60 * 60 * 1000 } });
            i += 7 * 24 * 60 * 60 * 1000;
        } while (i < axes.xaxis.max);

        return markings;
    }

    var options = {
        xaxis: {
            mode: "time",
            tickLength: 1
        },
        grid: {
            markings: weekendAreas
        },
        series: {
            lines: { show: true },
            points: { show: true }
        },
        legend: {show: true}
    };

    var plot = $.plot("#placeholder", [{label: "Appels à la hotline", data:requests},
                                       {label: "Rappels par la hotline", data:responses}], options);

});


});
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42545659-1', 'opendata.ml');
  ga('send', 'pageview');

</script>
</body>
</html>