
<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Hotline - SOS Démocratie</title>
<link href="static/css/bootstrap.min.css" rel="stylesheet">
<link href="static/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="static/css/hotline.css" rel="stylesheet">
<link href="static/css/flot.css" rel="stylesheet">
</head>
<body class="">
<div class="container">

<div class="row-fluid">
<div class="span8">
<h1>Hotline SOS Démocratie</h1>
</div>
<div class="span4" style="text-align:right;">
<h2 style="color:orange;">91 16 16 76</h2>
<h2 style="color:blue;">67 56 52 52</h2>
</div>
</div>


<div class="alert alert-info">
<p>Cette page présente les données de la <strong>Hotline SOS Démocratie</strong> à un instant <em>t</em>.</p>
<p>Elle devrait être mise à jour quotidiennement (vers 17h) pendant toute la durée du projet (juin-juillet-août 2013).</p>
<p>Les données brutes complète sont disponible sur <a href="http://opendata.ml">Open Data Mali</a>.</p>
<p>Pour en savoir plus, voir <a href="#about">ci-dessous</a>.</p>
</div>


<table class="table table-condensed table-hover table-bordered table-striped table-info">
    <tbody>
        <tr>
            <th class="span8">Dernier appel</th>
            <td class="span4">Aug. 9, 2013, 11:25 p.m.</td>
        </tr>
        <tr>
            <th>Nombre d'appels non traités</th>
            <td>66</td>
        </tr>
        <tr>
            <th>Nombre de rappels à saisir</th>
            <td>50</td>
        </tr>
        <tr>
            <th>Nombre total d'appels</th>
            <td class="total">8028</td>
        </tr>
        
        
        <tr>
            <th class="ident">Total Orange</th>
            <td>5534</td>
        </tr>
        
        <tr>
            <th class="ident">Total Malitel</th>
            <td>2493</td>
        </tr>
        
        <tr>
            <th class="ident">Peux-tu me rappeler?</th>
            <td>1260</td>
        </tr>
        <tr>
            <th class="ident">Peux-tu recharger mon compte?</th>
            <td>65</td>
        </tr>
        <tr>
            <th class="ident">Bip.</th>
            <td>6084</td>
        </tr>
        <tr>
            <th class="ident">SMS à déterminer.</th>
            <td>1</td>
        </tr>
        <tr>
            <th class="ident">SMS (Hotline).</th>
            <td>611</td>
        </tr>
        <tr>
            <th class="ident">SMS (Ushahidi).</th>
            <td>3</td>
        </tr>
        <tr>
            <th class="ident">SMS (SPAM)</th>
            <td>3</td>
        </tr>
        <tr>
            <th>Nombre total de numéros uniques</th>
            <td class="total">6499</td>
        </tr>
        <tr>
            <th>Total par sexes (Homme/Femme/Inconnu)</th>
            <td>3979 H, 1386 F, 2663 Inconnus</td>
        </tr>
    </tbody>
    </table>




<h2>Répartition des rappels par région</h2>
    <table class="table table-condensed table-hover table-bordered table-striped table-info">
    <thead>
    <tr>
    <th class="span2">Région</th>
    <th class="span2">Taux (nombre)</th>
    </tr>
    </thead>
    <tbody>
    
        <tr><td>KAYES</td>
            <td><strong>2.34% (185)</strong></td>
        </tr>
    
        <tr><td>KOULIKORO</td>
            <td><strong>6.91% (547)</strong></td>
        </tr>
    
        <tr><td>SIKASSO</td>
            <td><strong>4.03% (319)</strong></td>
        </tr>
    
        <tr><td>SÉGOU</td>
            <td><strong>2.16% (171)</strong></td>
        </tr>
    
        <tr><td>MOPTI</td>
            <td><strong>1.04% (82)</strong></td>
        </tr>
    
        <tr><td>TOMBOUCTOU</td>
            <td><strong>2.88% (228)</strong></td>
        </tr>
    
        <tr><td>GAO</td>
            <td><strong>0.53% (42)</strong></td>
        </tr>
    
        <tr><td>KIDAL</td>
            <td><strong>0.27% (21)</strong></td>
        </tr>
    
        <tr><td>BAMAKO</td>
            <td><strong>46.51% (3680)</strong></td>
        </tr>
    
        <tr><td>HORS DU MALI</td>
            <td><strong>0.57% (45)</strong></td>
        </tr>
    
        <tr><td>Inconnue</td>
            <td><strong>32.76% (2592)</strong></td>
        </tr>
    
    </tbody>
    </table>








<h2>Répartition des rappels par sujets</h2>
<p class="alert alert-info"><strong>Attention</strong>, certains appels concernent plusieurs catégories ; la somme des pourcentages individuels dépasse donc 100%.</p>
    <table class="table table-condensed table-hover table-bordered table-striped table-info">
    <thead>
    <tr>
    <th class="span2">Sujet</th>
    <th class="span2">Pourcentage du total (nombre)</th>
    </tr>
    </thead>
    <tbody>
    
        <tr><th>Décentralisation</th><th>0.66% (52)</th></tr>
        
            <tr><td>qu&#39;est ce que la décentralisation ?</td><td>0.37% (29)</td></tr>
        
            <tr><td>Avantages/inconvénients de la décentralisation</td><td>0.29% (23)</td></tr>
        
    
        <tr><th>Carte NINA</th><th>34.92% (2763)</th></tr>
        
            <tr><td>comment avoir la carte NINA ? (retrait)</td><td>15.91% (1259)</td></tr>
        
            <tr><td>qu&#39;est ce que la carte NINA ?</td><td>1.00% (79)</td></tr>
        
            <tr><td>est-ce que j&#39;ai le droit de voter?</td><td>0.52% (41)</td></tr>
        
            <tr><td>quel rapport avec le ravec ?</td><td>0.39% (31)</td></tr>
        
            <tr><td>perte de carte Nina ; que faire?</td><td>0.94% (74)</td></tr>
        
            <tr><td>Erreur sur la carte nina</td><td>1.30% (103)</td></tr>
        
            <tr><td>N&#39;est pas sur la liste</td><td>4.76% (377)</td></tr>
        
            <tr><td>Comment faire le RAVEC actuellement ?</td><td>3.73% (295)</td></tr>
        
            <tr><td>Transfert de bureau</td><td>4.83% (382)</td></tr>
        
            <tr><td>Procuration</td><td>1.54% (122)</td></tr>
        
    
        <tr><th>Fraude / Corruption</th><th>1.04% (82)</th></tr>
        
            <tr><td>rôle et responsabilités des citoyens</td><td>0.47% (37)</td></tr>
        
            <tr><td>que faire en cas de fraude (témoin) ?</td><td>0.30% (24)</td></tr>
        
            <tr><td>comment le vote est supervisé ?</td><td>0.27% (21)</td></tr>
        
    
        <tr><th>Démocratie</th><th>5.09% (403)</th></tr>
        
            <tr><td>qu&#39;est ce que la démocratie: comment voit on qu&#39;elle est présente?</td><td>2.14% (169)</td></tr>
        
            <tr><td>avantage/inconvénients</td><td>1.18% (93)</td></tr>
        
            <tr><td>principes de la démocratie</td><td>1.59% (126)</td></tr>
        
            <tr><td>histoire et application au Mali</td><td>0.19% (15)</td></tr>
        
    
        <tr><th>Ushahidi</th><th>0.42% (33)</th></tr>
        
            <tr><td>Rapport d&#39;incident</td><td>0.42% (33)</td></tr>
        
    
        <tr><th>Autre</th><th>41.17% (3257)</th></tr>
        
            <tr><td>Autre question</td><td>8.13% (643)</td></tr>
        
            <tr><td>Ne repond pas</td><td>25.20% (1994)</td></tr>
        
            <tr><td>Déjà rappelé</td><td>7.84% (620)</td></tr>
        
    
        <tr><th>Hotline</th><th>10.88% (861)</th></tr>
        
            <tr><td>Pourquoi vous faites ça ? Qui êtes vous?</td><td>3.93% (311)</td></tr>
        
            <tr><td>Rappel de remerciement</td><td>6.95% (550)</td></tr>
        
    
        <tr><th>Vote</th><th>21.31% (1686)</th></tr>
        
            <tr><td>C&#39;est quoi le vote?</td><td>0.72% (57)</td></tr>
        
            <tr><td>Combien de bureaux de vote ? </td><td>0.47% (37)</td></tr>
        
            <tr><td>comment être sur que mon vote a été prit en compte?</td><td>0.23% (18)</td></tr>
        
            <tr><td>comment choisir en pratique pour qui voter (présentation du bulletin)</td><td>0.25% (20)</td></tr>
        
            <tr><td>Avec quoi votons nous ? (en général)</td><td>0.47% (37)</td></tr>
        
            <tr><td>Pourquoi voter?</td><td>0.28% (22)</td></tr>
        
            <tr><td>Pourquoi voter pour un candidat (en particulier) ?</td><td>0.25% (20)</td></tr>
        
            <tr><td>Quels sont les avantages d&#39;aller voter?</td><td>0.33% (26)</td></tr>
        
            <tr><td>Quels sont les inconvénients de ne pas aller voter?</td><td>0.24% (19)</td></tr>
        
            <tr><td>Qu&#39;est ce qu&#39;un bulletin nul?</td><td>0.49% (39)</td></tr>
        
            <tr><td>Comment voter en pratique (urne, encre, isoloir)</td><td>0.99% (78)</td></tr>
        
            <tr><td>Ou puis-je voter?</td><td>16.60% (1313)</td></tr>
        
    
    </tbody>
    </table>


<h2>Graphe des événements</h2>
<div class="flot-container">
    <div id="placeholder" class="flot-placeholder"></div>
</div>

<div class="about">
<a name="about"></a>
<h2>À Propos</h2>
<p>La Hotline SOS Démocratie est une initiative de <strong>Jokkolabs</strong> pour soutenir les actions de sensibilisation de l'association <strong>SOS Démocratie</strong>, en vue de l'élection présidentielle de Juillet 2013.</p>
<p>Concrètement, deux numéros (un par opérateur) sont mis à disposition du public qui peut les “<em>biper</em>” à tout moment. Instantanément, ils reçoivent un message SMS les informant qu'un volontaire de SOS Démocratie va les rappeler.</p>
<p>Ensuite, par ordre d'arrivée, les volontaires rappellent tous les numéros et répondent à toutes les questions sur <em>la démocratie</em>, <em>le vote</em>, etc.</p>

<h3>Jokkolabs</h3>
<ul>
	<li>Conception, développement, déploiement de la Hotline</li>
	<li>Équipements (modems, serveur)</li>
	<li>Monitoring, maintenance</li>
	<li>Hébergement des volontaires (salle d'appels)</li>
	<li>Saisie et publication des données (Open Data Mali).</li>
</ul>
<h3>SOS Démocratie</h3>
<ul>
	<li>Développement du guide de réponse des volontaires.</li>
	<li>Mise à disposition des volontaires (tours de garde).</li>
	<li>Promotion de la Hotline lors de toutes les activités.</li>
	<li>Supervision des volontaires.</li>
</ul>
<h3>USAID</h3>
<ul>
	<li>Financement des coûts téléphonique.</li>
	<li>Financement des coûts promotionnels (presse, radio, TV).</li>
	<li>Financement du stipend volontaire (frais de transport jusqu'à Jokkolabs).</li>
</ul>
</div>
<div class="sponsors">
    <a href="http://jokkolabs.ml"><img src="static/img/jokkolabs.png" /></a>
    <a href="http://opendata.ml"><img src="static/img/opendata.png" /></a>
    <a href="http://usaid.gov"><img src="static/img/usaid.png" /></a>
    <a href="http://sosdemocratiemali.org"><img src="static/img/sosdemo.jpg" /></a>
</div>


</div>

<script type="text/javascript" src="static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/jquery.flot.js"></script>
<script type="text/javascript" src="static/js/jquery.flot.time.js"></script>
<script type="text/javascript" src="static/js/jquery.flot.selection.js"></script>
<script type="text/javascript">
$(document).ready(function (){
    
    $.getJSON('graph_data.json', function(data) {

    var requests = data.requests;
    var responses = data.responses;

    // helper for returning the weekends in a period

    function weekendAreas(axes) {

        var markings = [],
            requests = new Date(axes.xaxis.min);

        // go to the first Saturday

        requests.setUTCDate(requests.getUTCDate() - ((requests.getUTCDay() + 1) % 7))
        requests.setUTCSeconds(0);
        requests.setUTCMinutes(0);
        requests.setUTCHours(0);

        var i = requests.getTime();

        // when we don't set yaxis, the rectangle automatically
        // extends to infinity upwards and downwards

        do {
            markings.push({ xaxis: { from: i, to: i + 2 * 24 * 60 * 60 * 1000 } });
            i += 7 * 24 * 60 * 60 * 1000;
        } while (i < axes.xaxis.max);

        return markings;
    }

    var options = {
        xaxis: {
            mode: "time",
            tickLength: 1
        },
        grid: {
            markings: weekendAreas
        },
        series: {
            lines: { show: true },
            points: { show: true }
        },
        legend: {show: true}
    };

    var plot = $.plot("#placeholder", [{label: "Appels à la hotline", data:requests},
                                       {label: "Rappels par la hotline", data:responses}], options);

});


});
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42545659-1', 'opendata.ml');
  ga('send', 'pageview');

</script>
</body>
</html>